* text=auto eol=lf
/.github export-ignore
/.tmp-* export-ignore
/tests export-ignore
/composer.lock export-ignore
/CONTRIBUTING.md export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/pint.json export-ignore
